@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");

:root {
  --main-color: #be9c79;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading img {
  height: 4rem;
  margin-bottom: 1rem;
}

.heading h3 {
  font-size: 4rem;
  color: var(--black);
  font-family: "Merienda", cursive;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--main-color);
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: var(--black);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 2rem;
}

.header .flex .logo img {
  height: 4.5rem;
}

.header .flex .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--black);
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
}

.home-bg {
  background: linear-gradient(90deg, var(--white), transparent 70%),
    url(gambar/gambar1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-bg .home {
  min-height: 70rem;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-bg .home .content {
  width: 50rem;
  text-align: center;
}

.home-bg .home .content h3 {
  font-size: 6rem;
  color: var(--black);
  font-family: "Merienda", cursive;
}

.home-bg .home .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--black);
  line-height: 2;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.about .content {
  flex: 1 1 40rem;
  background-color: brown;
  border-radius: 10px 10px 10px 0;
  height: 30rem;
}

.about .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  font-family: "Merienda", cursive;
  padding-bottom: 1rem;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.5s;
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  color: var(--light-color);
  font-size: 1.5rem;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2s;
}

.about .content .btn {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2.5s;
}

/* about ke2 */

.aboutt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.aboutt .image {
  flex: 1 1 40rem;
}

.aboutt .image img {
  width: 100%;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.aboutt .content {
  flex: 1 1 40rem;
  background-color: brown;
  border-radius: 10px 10px 0 10px;
  height: 30rem;
}

.aboutt .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  font-family: "Merienda", cursive;
  padding-bottom: 1rem;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.5s;
}

.aboutt .content p {
  padding: 1rem 0;
  line-height: 2;
  color: var(--light-color);
  font-size: 1.5rem;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2s;
}

.aboutt .content .btn {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2.5s;
}
/* end about ke 2 */

.facility .heading {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.facility .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

.facility .box-container .box {
  text-align: center;
}

.facility .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1.5s;
}

.facility .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin: 1rem 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2s;
}

.facility .box-container .box p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--light-color);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 2.5s;
}

.menu .heading {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.menu .box-container .box {
  text-align: center;
}

.menu .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1.5s;
}

.menu .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.gallery .heading {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 2rem;
  justify-content: center;
}

.gallery .box-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.team .heading {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  justify-content: center;
}

.team .box-container .box {
  text-align: center;
}

.team .box-container .box img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.5s;
}

.team .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 2s;
}

.contact .heading {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .image {
  flex: 1 1 50rem;
}

.contact .row .image img {
  width: 100%;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.5s;
}

.contact .row form {
  flex: 1 1 30rem;
  border: var(--border);
  padding: 2rem;
  text-align: center;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 2s;
}

.contact .row form h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--black);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 2.5s;
}

.contact .row form .btn {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 3.5s;
}

.contact .row form .box {
  width: 100%;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  margin: 1rem 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 3s;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
}

.footer .box-container .box {
  text-align: center;
}

.footer .box-container .box i {
  font-size: 2.5rem;
  line-height: 6rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--white);
  margin-bottom: 1rem;
}

.footer .box-container .box h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.footer .box-container .box p {
  line-height: 2;
  font-size: 1.6rem;
  color: var(--light-color);
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2.5rem;
  border-top: var(--border);
  font-size: 2rem;
  color: var(--black);
}

.footer .credit span {
  color: var(--main-color);
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }
}

.home.bg {
  background-position: left;
}

.home-bg .home {
  justify-content: center;
}

.home-bg .home .content h3 {
  font-size: 4rem;
}

.about .content h3 {
  font-size: 3rem;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading img {
    height: 3rem;
  }

  .heading h3 {
    font-size: 3rem;
  }
}

/* EFEK GERAK */
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
